body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ruota {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}

.ruota:hover {
  transform: rotate(360deg);

}

.anchor {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.anchor:hover {
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: rgb(0, 0, 0);
}

.button-4 {
  background-color: transparent;
  transition: .3s;
}

.button-4:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ruota {
  from {
    top: 0px;
  }

  to {
    top: 1200px;
  }
}